@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content:space-around;
  /* align-items: center; */
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('https://images.pexels.com/photos/265129/pexels-photo-265129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

header nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: fixed;
  /* position: fixed; */
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #c5c3c2;
  /* border-radius: 5px; */
  box-shadow: 0 0 2px black;
  z-index: 4;
}

header nav .logo {
  height: 100%;
}

header nav .logo .icon_office {
  height: 100%;
  width: auto;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

header nav ul li {
  list-style: none;
  text-align: center;
  width: 130px;
}

header nav ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 1vw;
  text-decoration: none;
  color: #242424;
  background-color: #DBAB09;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(0, 0, 0);
  transform: scale(1);
  transition: 0.2s;
}

header nav ul li a:hover {
  background-color: #ca9e0d;
  transform: scale(0.99);
  color: #000000;
}

header nav .icon_cart {
  height: 50%;
  width: auto;
}

.wrapper {
  width: 100%;
  /* max-width: 1200px; */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  /* padding: 50px; */
  /* background:linear-gradient(to bottom, rgba(255, 77, 181, 0.3) 20%, rgba(0, 78, 156, 0.6)); */
  
}

section {
  width: 100%;
  /* margin: 0 auto; */
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.shop {
  width: 100%;
  max-width: 1200px;
  /* padding: 0 10px 10px 10px; */
  margin: 0 auto;
}

  h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
  padding: 0 10px;
  border-bottom: 2px solid #DBAB09;
}

.shop .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.shop .products .product-card {
  background-color: #fff;
  /* margin: 20px; gap:2rem instead */
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.096);
}

.shop .products .product-card .product-image-wrapper {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.shop .products .product-card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit:contain;
  transform: scale(1);
  transition: 0.7s;
}

.shop .products .product-card img:hover {
  transform: scale(1.1);
}

.shop .products .product-card .product-name {
  padding: 5px 0;
  letter-spacing: 1px;
}

.shop .products .product-card .product-price {
  padding: 10px 0;
  font-size: 15px;
}

.shop .products .product-card .product-add {
  position: relative;
  background-color: #f1f1f1;
  padding: 10px 10px;
  font-weight: 700;
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.397);
  transform: scale(1);
  transition: background-color 0.2s;
}

.shop .products .product-card .product-add:hover {
  background-color: #dfdfdf;
}

.shop .products .product-card .product-add:active {
  transform: scale(0.99);
  box-shadow: inset 0 0 4px black;
}

section.about {
  width: 100%;
  height: 50vh;
  background-color: #c5c3c2;
}

section.about .content-slider {
  width: 100%;
  height: 100%;
}

section.about .slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

section.about .mask {
  overflow: hidden;
  height: 320px;
}

section.about .slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

section.about .slider li {
  width: 680px;
  height: 100%;
  position: absolute;
  left: -680px;
  list-style: none;
}

section.about .slider .quote {
  font-size: 40px;
  font-style: italic;
}

section.about .slider .source {
  font-size: 20px;
  text-align: right;
}

section.about .slider li.anim1 {
  animation: cycle 20s linear infinite;
}

section.about .slider li.anim2 {
  animation: cycle2 20s linear infinite;
}

section.about .slider li.anim3 {
  animation: cycle3 20s linear infinite;
}

section.about .slider li.anim4 {
  animation: cycle4 20s linear infinite;
}

section.about .slider li.anim5 {
  animation: cycle5 20s linear infinite;
}

section.about .slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    left: 0px;
  }
  4% {
    left: 0px;
  }
  16% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    left: 680px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    left: 680px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    left: 680px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    left: 680px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    left: 680px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    left: -680px;
    opacity: 0;
  }
  16% {
    left: -680px;
    opacity: 0;
  }
  20% {
    left: 0px;
    opacity: 1;
  }
  24% {
    left: 0px;
    opacity: 1;
  }
  36% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    left: -680px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    left: -680px;
    opacity: 0;
  }
  36% {
    left: -680px;
    opacity: 0;
  }
  40% {
    left: 0px;
    opacity: 1;
  }
  44% {
    left: 0px;
    opacity: 1;
  }
  56% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    left: -680px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    left: -680px;
    opacity: 0;
  }
  56% {
    left: -680px;
    opacity: 0;
  }
  60% {
    left: 0px;
    opacity: 1;
  }
  64% {
    left: 0px;
    opacity: 1;
  }
  76% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    left: -680px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -680px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    left: 680px;
    opacity: 0;
  }
  76% {
    left: 680px;
    opacity: 0;
  }
  80% {
    left: 0px;
    opacity: 1;
  }
  84% {
    left: 0px;
    opacity: 1;
  }
  96% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    left: 680px;
    opacity: 0;
    z-index: 0;
  }
}