* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(199, 199, 199);
}

section.shop {
  /* background-color: rgb(173, 173, 173); */
  max-width: 1000px;
  padding: 0 10px 10px 10px;
}

.shop h2 {
  text-align: center;
}

.shop .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.shop .products .product {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

.shop .products .product img {
  position: relative;
  width: 250px;
  height: 200px;
  object-fit:contain;
  border: solid 1px black;
}